$borderRadiusButtonFreeDay: 10px;
$borderRadiusButtonSendForm: 5px;

.section-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    .area-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-left: 24px;

        .area-button {

            .button {
                outline: none;
        
                background-color: var(--blue);
    
                color: var(--white);
    
                width: 100%;
    
                padding: 16px 80px;
    
                border-radius: $borderRadiusButtonFreeDay;
                
                position: relative;

                text-align: center;

                z-index: 3;
            }

            .shadow {
                background-color: var(--blue-alpha);

                width: 100%;
                height: 20px;

                border-bottom-left-radius: $borderRadiusButtonFreeDay;
                border-bottom-right-radius: $borderRadiusButtonFreeDay;

                position: relative;
                bottom: 10px;

                z-index: 1;
            }
        }

        #form {
            width: 100%;

            padding: 32px;

            border-radius: 8.5px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color: var(--white);

            .secure-area-input {
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                
                margin-bottom: 16px;
                
                .area-input {
                    border: 1px solid var(--dark-blue-alpha-1);
                    border-radius: 5px;
                    
                    &::placeholder {
                        color: var(--dark-blue);
                    }
                    
                    margin-bottom: 8px;

                    width: 100%;
    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .input {
                        flex: 1;
    
                        padding: 16px 32px;
                        
                        border-radius: 5px;
                        
                        outline: none;
                        border: none;
                    }
    
                    .icon-error {
                        margin-right: 16px;
    
                        opacity: 0;
                    }
                }

                .message-error-input {
                    color: var(--error-message);

                    font-size: 0.8rem;

                    font-style: italic;
                }
            }
            
            #area-button-send-form {
                width: 100%;
                
                position: relative;
                
                #button-send-form {
                    background-color: var(--green);
    
                    padding: 16px 80px;
                    margin-bottom: 5px;
    
                    width: 100%;
    
                    text-align: center;
    
                    color: var(--white);
    
                    border-radius: $borderRadiusButtonSendForm;

                    position: relative;

                    z-index: 3;

                    transition: filter 500ms;

                    cursor: pointer;

                    &:hover {
                        filter: brightness(1.1);
                    }
                }

                .shadow {
                    width: 100%;
                    height: 15px;

                    background-color: var(--green-dark);

                    position: absolute;
                    bottom: 0px;

                    border-bottom-left-radius: $borderRadiusButtonSendForm;
                    border-bottom-right-radius: $borderRadiusButtonSendForm;

                    z-index: 1;
                }
            }

            .text-terms-service {
                font-size: 0.65rem;

                margin-top: 16px;

                color: var(--dark-blue-alpha-2);

                .emphasis {
                    color: var(--red);
                }
            }
        }
    }

    @media screen and (max-width: 1118px) {
        .area-form {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 538px) {
    .section-form {
        margin: 0 24px;

        .area-form {

            .area-button {
                
                .button {
                    font-size: 13px;

                    padding: 16px 40px;
                }
            }

            #form {

                .secure-area-input {

                    .area-input {
                        
                        .input {
                            width: 100%;
                        }
                    }
                }

                #area-button-send-form {

                    #button-send-form {
                        font-size: 13px;

                        padding: 16px 40px;
                    }
                }
            }
        }
    }
}